:root {
  // Primary

  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --YouTube: hsl(348, 97%, 39%);

  // Dark Theme

  --Toggle-Dark: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );

  // Light Theme

  --Toggle-Light: hsl(230, 22%, 74%);

  // Neutral

  // Light Theme

  --BG: hsl(0, 0%, 100%); // BG
  --Top-BG-Pattern: hsl(225, 100%, 98%); // Top BG Pattern
  --Card-BG: hsl(227, 47%, 96%); // Card BG
  --Card-BG-hover: hsl(232, 33%, 91%);
  --primary-Text: hsl(228, 12%, 44%); // Text
  --secondary-Text: hsl(230, 17%, 14%); // Text
}

.dark-mode {
  --BG: hsl(230, 17%, 14%); // BG
  --Top-BG-Pattern: hsl(232, 19%, 15%); // Top BG Pattern
  --Card-BG: hsl(228, 28%, 20%); // Card BG
  --Card-BG-hover: hsl(228, 26%, 27%);
  --primary-Text: hsl(228, 34%, 66%); // Text
  --secondary-Text: hsl(0, 0%, 100%); // Text
}

.hiddne {
  display: none;
}
