.header {
  background-color: var(--Top-BG-Pattern);
  border-radius: 0 0 2rem 2rem;
}
.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem 8vh;
  height: 25vh;

  .title-box {
    flex: 1;
  }
}

@media (max-width: 730px) {
  .header-box {
    flex-direction: column;
    align-items: normal;
    height: 30vh;
    padding-top: 2rem;
  }
  .toggle-box > :first-child {
    flex: 1;
  }
  .heading-primary {
    font-size: 2.8rem;
  }

  .toggle-box {
    position: relative;

    &::before {
      margin-top: -3rem;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--primary-Text);
      transform: translateY(-50%);
    }
  }
}

@media (max-width: 530px) {
  .heading-primary {
    font-size: 2.3rem;
  }
  .header-box {
    height: 22rem;
    padding: 1.5rem 3rem 8vh;
  }
}

// @media (max-width: 360px) {
//   .heading-primary {
//     font-size: 2.3rem;
//   }
//   .header-box {
//     height: 30vh;
//   }
// }
