.toggle-box {
  display: flex;
  align-items: center;
  & > :first-child {
    color: var(--Toggle-Light);
    margin-right: 1rem;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 31px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Toggle-Light);
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: all 0.4s;
}

input:checked + .slider {
  background-image: var(--Toggle-Dark);
}

input:checked + .slider:before {
  -webkit-transform: translateX(-26px);
  -ms-transform: translateX(-26px);
  transform: translateX(-26px);
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 32px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: all 0.4s;
}

input:checked + .slider::before {
  background-color: var(--VeryDarkBlue-BG);
}
