.heading-primary {
  color: var(--secondary-Text);
}
.heading-secondary {
  color: var(--secondary-Text);
  margin-bottom: 2rem;
}

.paragraph {
  color: var(--primary-Text);
  font-size: 1.4rem;
  font-weight: 700;
}
