main {
  margin-top: -5vh;
  padding: 0 10rem;
}
.social-media {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 3rem;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: var(--Card-BG);
    border-radius: 1rem;
    cursor: pointer;
    &:hover {
      background-color: var(--Card-BG-hover);
    }
    & > :not(:last-child) {
      margin-bottom: 2rem;
    }

    &--1 {
      border-top: 0.5rem solid var(--Facebook);
    }
    &--2 {
      border-top: 0.5rem solid var(--Twitter);
    }
    &--3 {
      border-image: var(--Instagram) 30;
      border-image-width: 0.5rem 0 0 0;
      border-style: solid;
    }
    &--4 {
      border-top: 0.5rem solid var(--YouTube);
    }
  }
  .id-box {
    display: flex;
    align-items: center;

    &__logo {
      margin-right: 1rem;
    }
    &__id-name {
      font-size: 1.2rem;
      font-weight: 700;
      color: var(--primary-Text);
    }
  }

  .followers {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__num {
      font-size: 5rem;
      font-weight: 700;
      color: var(--secondary-Text);
    }

    &__tag {
      margin-top: -2rem;
      color: var(--primary-Text);
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 0.5rem;
    }
  }

  .followers-update {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--Lime-Green);

    & > :not(:last-child) {
      margin-right: 0.4rem;
    }
    &--4 {
      color: var(--Bright-Red);
    }
  }
}

/* Overview Section*/
.social-media-overview {
  margin-top: 3rem;
}
.social-media-overview__boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 3rem;
}

.social-media-overview__box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
  background-color: var(--Card-BG);
  color: var(--primary-Text);
  border-radius: 1rem;
  cursor: pointer;
  &:hover {
    background-color: var(--Card-BG-hover);
  }
  &__top {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    .overview-label {
      flex: 1;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;

    .overview-num {
      flex: 1;
      color: var(--secondary-Text);
      font-size: 3rem;
    }
    .overview-update-box {
      display: flex;
      align-items: center;
      & > :first-child {
        margin-right: 0.5rem;
      }
      & > :last-child {
        font-size: 1.2rem;
      }
      .update-num--1 {
        color: var(--Lime-Green);
      }
      .update-num--2 {
        color: var(--Bright-Red);
      }
      .update-num--3 {
        color: var(--Lime-Green);
      }
      .update-num--4 {
        color: var(--Lime-Green);
      }
      .update-num--5 {
        color: var(--Lime-Green);
      }
      .update-num--6 {
        color: var(--Bright-Red);
      }
      .update-num--7 {
        color: var(--Bright-Red);
      }
      .update-num--8 {
        color: var(--Bright-Red);
      }
    }
  }
}
